.directory {
    display: grid; 
    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: 1rem;
  }
  
  .directory > * { 
    overflow: hidden;
    display: flex; 
    flex-direction: column;
    box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(0,0,0,0.25);
    border-radius: .25rem;
  }
  .directory picture {
    height: 12.5rem;
  }
  .directory .description {
    padding: 1rem;
    font-size: .95rem;
    line-height: 1.25;
    color: #999
  }
  .directory img {
    height: 100%; 
    width: 100%; 
    object-fit: cover;
  }
  @media only screen and (min-width: 40rem) {
    .gallery {
      grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 70rem) {
    .gallery {
      grid-template-columns: 1fr 1fr 1fr;
    }
}